body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(3, 36, 133);
}

#game-board {
	display: flex;
	width: 85vw;
	height: 60vw;
	justify-content: space-around;
	align-items: center;
	/* box shadow should be smaller on top left and larger on bottom right and have a gradient that goes from a darker center
	to a lighter edge */
	box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
	background: radial-gradient(
		circle,
		rgb(255, 249, 78) 15%,
		rgb(225, 120, 6) 80%
	);
	border: solid rgb(154, 77, 9);
}
h1 {
	color: rgb(195, 70, 8);
	text-shadow: 2px 2px 4px #9c0909;
	height: 8vh;
}
#start-game {
	width: 25vw;
	height: 8vh;
	margin: 2vh;
	/* i want a teal to peach gradient for the background */
	background: linear-gradient(to right, #6180d5, #ec7587);
}
/* I want the cells to fit in the game baord with space between the edges of the board */
.cell {
	background-color: white;
	border: 3px solid rgb(77, 18, 18);
	border-radius: 50%;
	height: 8.5vw;
	width: 8.5vw;
	margin: 0.3em;
}

.player1 {
	background-color: purple;
}

.player2 {
	background-color: orange;
}
@media (max-width: 900px) {
	body {
		display: flex;
		align-items: center;
	}
	#game-board {
		width: 90vw;
		height: 90vw;
	}
	.cell {
		height: 8vw;
		width: 8vw;
	}
}
@media (min-width: 901px) and (max-width: 2048px) {
	#game-board {
		width: 80vw; /* Adjust width as needed for 2K screens */
		height: 60vw; /* Adjust height as needed for 2K screens */
	}

	.cell {
		height: 9vw; /* Adjust cell size as needed for 2K screens */
		width: 9vw;
	}
}
